body{
    overflow-x:hidden;
}
div{
	border:solid;
	border-color: blue;
}

.box{
	height: 40px;
	width: 40px;
	position:absolute;
}
#wrapper{
	position:absolute; z-index:1;
	top:45px; bottom: 0; left:0;
	width:100%;
}




#fade_in{
	background-color: blue;
}


#fragment_group{
	width:400px;
	height:300px;
	position: relative;
}


#fragment1{
	left:10px;
	top:200px;
}
#fragment2{
	left:82px;
	top:100px;
}
#fragment3{
	left:160px;
	top:75px;
}
#fragment4{
	left:257px;
	top:100px;
}
#fragment5{
	left:330px;
	top:200px;
}
.fragment{
	width:40px;
	height:40px;
	position: absolute;
}


#fragment_box{

	top:225px;
	left:175px;
	margin-left:-20px;
	border:solid;
	border-color: red;
}